/TecWeb/Practica3/nbproject/private/
/TecWeb/Practica3/build/
/TecWeb/Practica4/nbproject/private/
/POO/Cadenas/nbproject/private/
/POO/Cadenas/build/
/TecWeb/Practica4/dist/
/TecWeb/Practica4/build/
/TecWeb/Practica5/nbproject/private/
/TecWeb/Practica5/build/
/TecWeb/Practica6/nbproject/private/
/TecWeb/Practica6/build/
/TecWeb/Practica7/nbproject/private/
/TecWeb/Practica7/build/
/TecWeb/LeerCadenas/nbproject/private/
/TecWeb/LeerCadenas/build/
/TecWeb/Practica8/nbproject/private/
/TecWeb/Practica8/build/
/TecWeb/Practica8/dist/
/TecWeb/9Audio/nbproject/private/
/TecWeb/Practica9/9Abbr/nbproject/private/
/TecWeb/Practica9/9address/nbproject/private/
/TecWeb/Practica9/9Area/nbproject/private/
/TecWeb/Practica9/9Aside/nbproject/private/