/TecWeb/Segundo parcial/AJAXJSON/nbproject/private/
/TecWeb/Segundo parcial/AJAXJSON/build/
/POO/Animales/nbproject/private/
/POO/Animales/build/
/TecWeb/Segundo parcial/ValidarXML/build/
/TecWeb/Segundo parcial/Banco/nbproject/private/
/TecWeb/Segundo parcial/Practica38/build/
/POO/BancoHerencia/nbproject/private/
/POO/Banco/build/
/POO/BancoHerencia/build/
/TecWeb/Primer parcial/Practica29/nbproject/private/
/TecWeb/Primer parcial/Practica29/build/
/POO/Jerarquia/nbproject/private/
/TecWeb/Primer parcial/DetallesClasesAbstractas/nbproject/private/
/POO/Estudio/nbproject/private/
/TecWeb/Segundo parcial/Practica42/nbproject/private/
/TecWeb/Segundo parcial/Practica35/build/
/TecWeb/Segundo parcial/Practica42/build/
/TecWeb/Segundo parcial/Practica35/dist/
/TecWeb/Segundo parcial/Practica352/nbproject/private/
/TecWeb/Segundo parcial/Practica35-2/nbproject/private/
/TecWeb/Segundo parcial/Practica35-2/build/